src/test/resources/db-state/test.dtd

<!ELEMENT dataset (
    medicine_master*,
    patient_master*,
    prescription*,
    prescription_medicines_description*)>

<!ELEMENT medicine_master EMPTY>
<!ATTLIST medicine_master
    MEDICINE_ID CDATA #REQUIRED
    MEDICINE_NAME CDATA #REQUIRED
>

<!ELEMENT patient_master EMPTY>
<!ATTLIST patient_master
    PATIENT_ID CDATA #REQUIRED
    FIRST_NAME CDATA #REQUIRED
    LAST_NAME CDATA #REQUIRED
    AGE CDATA #REQUIRED
    HEIGHT CDATA #REQUIRED
    LAST_VISIT_DATE CDATA #IMPLIED
    NEXT_VISIT_DATE CDATA #REQUIRED
>

<!ELEMENT prescription EMPTY>
<!ATTLIST prescription
    PRESCRIPTION_ID CDATA #REQUIRED
    PATIENT_ID CDATA #REQUIRED
    PRESCRIPTION_DATE CDATA #REQUIRED
>

<!ELEMENT prescription_medicines_description EMPTY>
<!ATTLIST prescription_medicines_description
    PRESCRIPTION_ID CDATA #IMPLIED
    MEDICINE_ID CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
>

